---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/**** custom ****/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono); /* web font */

html {
    font-size: 12px; // change to whatever
    
    @include breakpoint($medium) {
      font-size: 14px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 16px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // change to whatever
    }
  }

/* image custom style */
.image-shadow-card{
  border-radius: 3px;
  box-shadow: 5px 5px 15px #ddd;
  align-self: center;
}

/* font color  */
p{color: #666;}
p>code{color: brown; background: #f0f0f0;}
strong{/**/}
h3{color: #f15f5f;}
h2>a{font-size: 1em;}
hr{border-color: #c4c4c4;}


/* design */
.page__taxonomy-item.category-item{width: 90%; margin-top: 5px;}
.page__taxonomy-item.category-item>.category-count{color : #f15f5f; font-weight: bold;}
.greedy-nav .visible-links a:before{background-color: #f15f5f; opacity: 0.5;}
.page__share{margin-top: 0px;}
.page__share>a{width: 32.824%;}
